<p>
	Este es el catálogo de series de la plataforma online Netflix. Aquí se muestra información relevante tanto de las
	series como de sus respectivos actores.
	<br><br>
La información mostrada de las series son el ID, el nombre, las visualizaciones, el número de temporadas, la cantidad de episodios por cada temporada y los actores que han participado.
	<br><br>
Cada actor almacena su ID, nombre, serie en la que ha participado, la primera temporada en la que apareció, los minutos de aparición en su serie y la nota que ha obtenido en la base de datos IMDb.
</p>